
  $green-medium: #94c11f;
  $green-bold: #056734;
  $green-light: #6bcf72;
  $background: #fff;
  $gray: #9a9a9a;
  $blue: #696bd3;
  $gray-form: #DCDCDC;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body, h1, input, h2, h3, h4, h5,h6, p, span, button {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body {
  background-image: url('/images/reclame_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-position: right top;
}

.container-header {
  max-width: 1300px;
  margin: 0 auto;
  height: 4.37rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.75rem;
  gap: 5rem;

  input{
    padding: 0.625rem;
    border-radius: 1.25rem;
    width: 25rem;
    padding-left: 50px;
    background-position: 10px;
    background-repeat: no-repeat;
    outline: 0;
    box-shadow: 0;
    border: 1px solid var(--gray);
    font-size: 1rem;
    
    &.search {
      background-image: url("/images/search-icon.svg");
    }
  }


  span {
    color: $blue;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

}


.content-main {
  max-width: 1400px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  

  img {
    transform: scale(0.8);
  }

  .message-marketing {
      max-width: 400px;
      font-weight: bold;
      font-size: 1.4rem;
      color: $green-bold;
      margin-left: 50px;
      margin-top: 30px;
  }

}

.conte-form {
  background: $background;
  max-width: 400px;
  border-radius: 10px;
  margin: 0 40px;
  

  h2 {
    padding: 20px 40px 20px 40px;
    color: $blue;
  }

  .form-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    

    .button-zap {
      border: 0;
      padding: 10px 20px;
      background: $green-light;
      border-radius: 5px;
      color: white;
      font-weight: 600;
      background-image: url("/images/whatsapp-brands.svg");
      padding-left: 40px;
      background-position: 10px;
      background-repeat: no-repeat;
      cursor: pointer;
      background-size: 20px;
      transition: filter 0.3s;

      &:hover {
        filter: brightness(0.9);
      }
    }

    .send-button {
      border: 0;
      background-color: $green-light;
      width: 100%;
      padding: 20px;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 1.2rem;
      color: $green-bold;
      cursor: pointer;
      border-radius: 10px;
      transition: filter 0.3s;

      &:hover {
        filter: brightness(0.9);
      }
    }

    input {
      margin-top: 15px;
      height: 40px;
      width: 300px;
      margin-left: 15px;
      background-color: $gray-form;
      border: 0;
      border-radius: 5px;
      border-bottom: 4px solid $gray;
      outline: 0;
      padding-left: 20px;
    }

  }

}

@media (max-width: 1040px) {
  .container-header, .message-marketing{
    display: none;
  }
  .send-button {
    margin-top: 10px;
  }
  .conte-form {
    padding: 10px;
  }
  .content-main {
    max-width: 500px;
    margin: 40px auto;

    input {
      width: 100%;
      padding: 20px;
      margin-right: 10px;
      margin-top: 16px;

    }

    img {
      transform: scale(0.8);
      max-width: 400px;
      margin-left: 40px;
    }
  } 
}






